<div>
    <h4>Contatti</h4><br />
    <h6>E-Mail: SonoIlMigliore@Cracco.io</h6>
    <h6>Tel: +39 1111111111</h6>
    @*<e-mail to-user="SonoIlMigliore@Cracco.io"></e-mail>*@
    <a class="btn btn-primary" href=mailto:SonoIlMigliore@Cracco.io>Mandami una e-mail</a>
</div>