@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="Titolo" style="font-family:Papyrus; font-size:80px">Benvenuti da Cracco</h1><br />
    <p style="font-family:'Times New Roman', Times, serif">Il Ristorante migliore della tuo paese, città, regione, stato, continente, emisfero, mondo..UNIVERSO</a>.</p>
</div>
